<h1>
  {{ data.title }}
</h1>

<span class="message">
  {{ data.content }}
</span>

<span class="details">
  {{ data?.details }}
</span>

@if (data.cancelLabel && data.confirmLabel) {
  <div class="dialog-actions">
    <button
      (click)="close(false)"
      class="dialog-button"
      type="button"
    >
      {{ data.cancelLabel }}
    </button>
    <button
      (click)="close(true)"
      class="dialog-button dialog-button-delete"
      type="button"
    >
      {{ data.confirmLabel }}
    </button>
  </div>
}
